// Kolory
$white: #FFFFFF;
$black: #000000;
$gray-light: #F9FBFE;
$gray-dark: #444444;
$blue-dark: #3E5CC5;
$blue-light: #D3EAFA;
$blue-text: #3B99E1;
$green: #60DC64;

$blue-gradient: linear-gradient(45deg, #3E5CC5 0%, #5B8AF8 100%);