// Od srednich w gore
@mixin medium-up {
    @media (min-width: #{$bp-medium}) {
        @content
    }
}

// Od duzych w gore
@mixin large-up {
    @media (min-width: #{$bp-large}) {
        @content
    }
}

h1 {
    color: red;

    @include medium-up {
        color: blue;
    }
@include large-up {
    color: green;
    font-size: 100px;
}

}
