
body {
	font-family: $font-family;
	padding: $body-padding;
}

h1, h2 {
	font-weight: $def-font-weight;
}

p {
	font-size: $basic-font-size;
	line-height: 24px;
	@include basic-border;
}

.btn {
	@include basic-button(#FFF,#0B3861);
}





